:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --dkClr: #181818;
  --ltClr: whitesmoke;
  --accClr: #0D0D35;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header h1 {
  font-size: 100px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px #000;
  font-family: 'Georgia', serif;
}

footer p {
  font-size: 1.1rem;
  color: #bbb;
  font-style: italic;
}

p {
  font-size: 2rem;
}

body {
  background-color: black;
  color: var(--ltClr);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  text-align: center;
}

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

#gameCanvas {
  width: 743px;
  height: 860px;
  border: 25px solid rgb(60, 164, 60);
  display: block;
  z-index: 1;
  background-color: black;
}
